.control {

	$size: 20px;

	// Ensure that color is written in hex and escape the color,
	// to ensure that it's working in url().
	$default: inspect(ie_hex_str($formalize__default));
	$default: '%23' + str_slice($default, 2);

	margin: 0 0 $formalize__gutter/2;
	box-sizing: border-box;

	// Input -------------------------------------------------------------- //
	&__input {
		display: none;
	}

	// Label -------------------------------------------------------------- //
	&__label {
		position: relative;
		padding-left: calc(#{ $size } + #{ $formalize__gutter/3 });

		&::before {
			content: '';
			position: absolute;
			top: calc(50% - #{ $size/2 });
			left: 0;
			width: $size;
			height: $size;
			border: 1px solid $formalize__default;
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05);
			background-size: 0;
			background-repeat: no-repeat;
			background-position: center;
			transition: background-size $formalize__duration $formalize__timing;
		}
	}

	&__input[type='radio'] + &__label::before {
		border-radius: 100%;
		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="512" height="512" viewBox="0 0 512 512" xml:space="preserve"><path fill="${ default }" d="M256,464c114.9,0,208-93.1,208-208c0-114.9-93.1-208-208-208C141.1,48,48,141.1,48,256C48,370.9,141.1,464,256,464z"/></svg>');
	}

	&__input[type='checkbox'] + &__label::before {
		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="512" height="512" viewBox="0 0 512 512" xml:space="preserve"><path fill="${ default }" d="M461.6,109.6l-54.9-43.3c-1.7-1.4-3.8-2.4-6.2-2.4c-2.4,0-4.6,1-6.3,2.5L194.5,323c0,0-78.5-75.5-80.7-77.7c-2.2-2.2-5.1-5.9-9.5-5.9c-4.4,0-6.4,3.1-8.7,5.4c-1.7,1.8-29.7,31.2-43.5,45.8c-0.8,0.9-1.3,1.4-2,2.1c-1.2,1.7-2,3.6-2,5.7c0,2.2,0.8,4,2,5.7l2.8,2.6c0,0,139.3,133.8,141.6,136.1c2.3,2.3,5.1,5.2,9.2,5.2c4,0,7.3-4.3,9.2-6.2L462,121.8c1.2-1.7,2-3.6,2-5.8C464,113.5,463,111.4,461.6,109.6z"/></svg>');
	}

	&__input[type='radio'][disabled] + &__label::before,
	&__input[type='checkbox'][disabled] + &__label::before {
		border-color: ligthen($formalize__default, 10%);
		background-color: darken(white, 5%);
		box-shadow: none;
	}

	&__input:checked + &__label::before {
		background-size: 12px;
	}

}