$formbase__prefix: '' !default; // Class name prefix
$formbase__margin: .9rem !default; // Margin
$formbase__padding: .6rem !default; // Padding
$formbase__select_size: 12px !default; // Size of the checkbox and radio button (1)
$formbase__control_size: 30px !default; // Size of the select arrow
$formbase__radius: 0 !default; // Input border radius
$formbase__svg: #000 !default; // Hex color for svgs (2)
$formbase__color: #000 !default; // Input and label color
$formbase__placeholder: #999 !default; // Input placeholder color
$formbase__background: #fff !default; // Background color
$formbase__border: #bbb !default; // Border color
$formbase__active: #17f !default; // Active highlight color
$formbase__shadow: inset 0 1px 3px rgba(0, 0, 0, .05) !default; // Shadow styling
$formbase__duration: .3s !default; // Transition duration
$formbase__timing: ease !default; // Transition timing

// (1) It's recommended to use an absolute unit (px) for the control size to avoid half pixels. Half pixels would transform the circle of the radio control into an egg.
// (2) Only works with hex values