$formbase__prefix: '' !default;
$formbase__gutter: 1.8rem !default;
$formbase__background: #fff !default;
$formbase__svg: #000 !default;
$formbase__border: #bbb !default;
$formbase__active: #0c69d6 !default;
$formbase__shadow: inset 0 1px 3px rgba(0, 0, 0, .05) !default;
$formbase__duration: .3s !default;
$formbase__timing: ease !default;